{% extends "base.html" %}
	{% block content %}
	<div class="form-container col-3 mx-auto">
		<form action="{{ url_for('submit') }}" method="post"  enctype="multipart/form-data">

			<div class="col-12 text-center input">
				<input type="file" name="file" placeholder="Invoice number">
			</div>
			<div class="col-12 text-center input">
				<input type="text" name="invoice_number" placeholder="Invoice number">
			</div>
			<div class="col-12 text-center input">
				<input type="date" name="invoice_date" placeholder="Invoice date">
			</div>
			<div class="col-12 text-center input services mt-3 mb-1">
				<input type="text" class="service my-1" name="service_delivered" placeholder="Service">
			</div>
			<div class="col-12 d-flex justify-content-center mb-5">
				<div class="add">+</div>
			</div>

			<div class="col-12 text-center submit">
				<input type="submit">
			</div>

		</form>
		<script>
			$('.add').on('click', function(){
				let template = `<input class="service my-1" name="service_delivered" placeholder="Service">`
				$('.services').append(template)
			})
		</script>
	</div>
	{% endblock %}